body {
  padding-bottom: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

#background-landing {
  position: fixed;
  top: 39%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

#background {
  position: fixed;
  background-size: 100% auto;
  max-width: 100%;
  top: 0%;
  z-index: -1;
}

/* Navbar */
.navbar {
  background-color: rgba(0,0,0,.7);
  font-family: 'Arvo', courier, serif;
  height: auto;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar-brand img {
  height: 80px;
}

.navbar a {
  font-size: 24px;
  color: white;
  padding: 14px 14px;
  line-height: 100px;
  transition: all .5s ease;
  text-decoration: none;
}


.navbar a:hover {
  color: #70726F;
  text-decoration: none;
}


/* Title jumbotron */
.jumbotron {
  background: transparent;
  color: white;
  font-size: 32px;
  font-family: 'Arvo', courier, serif;
  text-shadow: 0px 0px 2px black;
}

.jumbotron button {
  background: transparent;
  border: 5px double white;
  font-style: italic;
  font-weight: bold;
  transition: all .5s ease;
  text-shadow: 0px 0px 1px black;
}

.jumbotron button:hover {
  color: #70726F;
  border-color: #70726F;
}

/* Carousel */
.carousel-control.left, .carousel-control.right {
  background-image: none;
  transition: all .5s ease;
}
.carousel-inner {
  align-content: center;
}
.carousel-inner img {
  height: 236px;
  width: 236px;
  border-radius: 50%;
  padding: 10px;
  -webkit-filter: drop-shadow(20px 20px 20px #222);
}
.carousel-inner p {
  text-align: justify;
  text-justify: inter-word;
  font-size: 22px;
  color: white;
  text-indent: 1em;
  text-decoration: italic;
  text-shadow: 0px 0px 1px black;
}
.carousel-inner a {
  text-decoration: underline, bold;
}
.carousel-inner h2 {
  text-align: center;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 5px black;
}
.carousel-caption {
  height: 300px;
}



/* Page contents */
.page-description, .latest-blogs {
  background-color: ghostwhite;
  padding-bottom: 10px;
  font-family: 'Arvo', courier, serif;
}

.page-description h1, .current-projects h1, .latest-blogs h1 {
  color: rgba(50, 50, 50);
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 0px 5px rgba(20,20,20);
}

.page-description h2, .current-projects h2, .latest-blogs h2 {
  color: rgba(50, 50, 50);
  text-align: center;
  font-weight: bold;
  font-style: italic;
  text-shadow: 0px 0px 5px rgba(20,20,20);
}

.page-description p {
  font-size: 24px;
  text-indent: 1em;
  text-align: justify;
  text-justify: inter-word;
}

.page-description img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  padding: 10px;
  -webkit-filter: drop-shadow(20px 20px 20px #222);
}

.current-projects {
  text-align: center;
  background-color: rgba(240, 240, 240, 1);
  padding-bottom: 10px;
}

.current-projects p {
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
  text-justify: inter-word;
  padding: 20px;
  margin: auto;
  width: 80%;
}

.current-projects img, .latest-blogs img, .about-me img{
  height: 300px;
  width: 450px;
  padding: 20px;
  -webkit-filter: drop-shadow(10px 10px 10px #222);
}

.current-projects button {
  background: transparent;
  border: 5px double black;
  font-style: italic;
  font-weight: bold;
  transition: all .5s ease;
  margin-bottom: 20px;
}

.current-projects button:hover {
  color: darkgray;
  border-color: darkgray;
}


/* Footer */
.foot {
  background-color: rgba(30,30,30,1);
  padding-bottom: 200px;
}

.foot img {
  height: 150px;
  width: auto;
}

.foot a {
  text-decoration: none;
  color: inherit;
  padding: 40px;
  transition: all .5s ease;
}
.foot a:hover {
  color: #70726F;
}

.footer {
  background-color: rgba(0,0,0,.9);
  padding: 0px;
}

.footer a {
  color: #70726F;
  font-size: 40px;
  padding: 0px 10px 0px 10px;
  border-right: 3px solid #70726F;
  transition: all .5s ease;
}

.footer a:first-child {
  border-left: 3px solid #70726F;
}

.footer a:hover {
  color: white;
}

.main-resume button {
  background: transparent;
  border: 5px double black;
  font-style: italic;
  font-weight: bold;
  transition: all .5s ease;
  margin-bottom: 20px;
}

.main-resume button:hover {
  color: darkgray;
  border-color: darkgray;
}

