{% extends "layout.html" %}


  {% block content %}

  <!-- BACKGROUND OF NAVIGATION BAR -->
  <video autoplay loop id="background-landing">
    <source src="{{ url_for('static', filename='images/stock_video.mp4') }}" alt="stock video">
  </video>

  <div style="padding-bottom: 3cm;"></div>

  <!-- TITLE TEXT -->
  <section class="container-fluid" id="title">
    <div class="row jumbotron text-center">
      <h3><em>Student. Linguist. Computer scientist.</em></h3>
      <h1><strong>Let's Work Together</strong></h1>
      <a href="/contact"><button type="button" class="btn btn-lg">Contact Me Today</button></a>
    </div><!-- jumbotron -->
  </section><!-- title-section -->


  <!-- Vertical spacing -->
  <div style="padding-bottom: 7cm;"></div>

  <!-- CAROUSEL -->
  <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="6000" data-pause="false" style="height: 300px; background-color: rgba(0,0,0,.9); padding-bottom: 350px;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
      <li data-target="#carousel" data-slide-to="3"></li>
      <li data-target="#carousel" data-slide-to="4"></li>
    </ol>
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner"> 
  
            
      <div class="item active container">
        <a target="_blank" href="http://www.blockheadexchange.com">
          <h2>Penn Of Course</h2>
        </a>
        <div class="container">
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
              <a target="_blank" href="https://www.penn-ofcourse.herokuapp.com">
                <!--img style="height: 87%; width: 87%;" src="{{ url_for('static', filename='images/penn_of_course.png') }}" alt="Penn Of course"-->
                <img style="border-radius: 10%; height: 87%; width: 87%;" src="{{ url_for('static', filename='images/penn_of_course.png') }}" alt="Penn Of course">
              </a>
            </div>
            <div class="col-md-5">
              <br/>
              <br/>
              <p><span style="text-decoration: underline;"><a target="_blank" href="https://www.pennapps.com"><em>PennApps Winter 2018</em></a></span> was a great success! My collaborators and I built "Penn, Of Course", a machine-learning driven engine for finding courses at the University of Pennsylvania you always dreamed of but never knew existed.</p>
            </div>
            <div class="col-md-1">
            </div>
          </div><!-- row -->
        </div><!-- container -->
      </div><!-- item container -->

      <div class="item container">
        <a target="_blank" href="http://www.blockheadexchange.com">
          <h2>BlockheadExchange.com</h2>
        </a>
        <div class="container">
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
              <a target="_blank" href="http://www.blockheadexchange.com">
                <img src="{{ url_for('static', filename='images/blockheads_logo.png') }}" alt="Blockhead Exchange">
              </a>
            </div>
            <div class="col-md-5">
              <br/>
              <br/>
              <p>Blockhead Exchange is officially live. Click <a href="www.blockheadexchange.com">here</a> to keep up to date with your cryptocurrency of choice and start investing like a blockhead!</p>
            </div>
            <div class="col-md-1">
            </div>
          </div><!-- row -->
        </div><!-- container -->
      </div><!-- item container -->

      <div class="item container">
        <h2>IBM Model 1 Translator</h2>
        <div class="container">
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
              <img style="border-radius: 0%;" src="{{ url_for('static', filename='images/rosetta-stone2.png') }}" alt="Rosetta">
            </div>
            <div class="col-md-5">
              <br/>
              <h2>(Coming soon)</h2>
              <p>The IBM Model 1 translator laid the foundation that the majority of modern statistical translators are built on. See a demonstration of how the model assigns translation probabilities to words in parallel texts.</p>
            </div>
            <div class="col-md-1">
            </div>
          </div><!-- row -->
        </div><!-- container -->
      </div><!-- item container -->

      <div class="item container">
        <h2>Yup`ik Spellchecker</h2>
        <div class="container">
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
              <br/>
              <img style="padding: 0px; border-radius: 10%;" src="{{ url_for('static', filename='images/rsz_yupik.png') }}" alt="Yup`ik Phonetics">
            </div>
            <div class="col-md-5">
              <h2>(Coming soon)</h2>
              <p>The Yup`ik Language is one of the world's many less commonly studied languages with few linguistic resources of its own. Click here to test a spellchecker for Central Alaskan Yup`ik.</p>
            </div>
            <div class="col-md-1">
            </div>
          </div><!-- row -->
        </div><!-- container -->
      </div><!-- item container -->

      <div class="item container">
        <h2>Text Analyzer</h2>
        <div class="container">
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
              <br/>
              <img style="padding: 0px; border-radius: 10%;" src="{{ url_for('static', filename='images/text_analysis.jpeg') }}" alt="Rosetta">
            </div>
            <div class="col-md-5">
              <h2>(Coming soon)</h2>
              <p>Interested in Natural Language Processing? Come see the basics in action and get the breakdown on some of my favorite pieces of literature or upload some of your own!</p>
            </div>
            <div class="col-md-1">
            </div>
          </div><!-- row -->
        </div><!-- container -->
      </div><!-- item container -->
            
    </div><!-- carousel-inner -->
  
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><!-- carousel -->


  <!-- Page description -->
  <div class="container-fluid page-description" style="padding: 50px;">
    <h1>My Professional Portfolio</h1>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
        <img src="{{ url_for('static', filename='images/quality_bar_2.jpg') }}">
    </div>
    <div class="col-md-5">
      <br/>
      <br/>
      <p>
        These days, making your project a success takes multi-disciplinary insight, lateral thinking, and dedication to building the best product you can. If you need a coder that can bring all of that to the table, look no further.
      </p> 
      <br/>
      <br/>
      <p>
        Contact me and we'll talk about the value I bring to your product.
      </p>
    </div>
    <div class="col-md-1">
    </div>
  </div> <!-- container-fluid -->

  <!-- My current projects -->
  <div class="container-fluid current-projects" style="padding: 50px;">
    <a href="/projects"><h1>My Current Projects</h1></a>
    <div class="row">

      <div class="col-md-4 text-center center-block">
        <h2>Penn Of Course</h2>
        <a target="_blank" href="https://penn-ofcourse.herokuapp.com">
          <img style="height: 87%; width: 87%;" src="{{ url_for('static', filename='images/penn_of_course.png') }}" alt="Penn Of course">
        </a>
        <p><span style="text-decoration: underline;"><a target="_blank" href="https://www.pennapps.com"><em>PennApps Winter 2018</em></a></span> was a great success! My collaborators and I built "Penn, Of Course", a machine-learning driven engine for finding courses at the University of Pennsylvania you always dreamed of but never knew existed. Set your personal preferences for each criterion and find the course best suited to you. Check out our <span style="text-decoration: underline;"><a href="https://github.com/kaushik316/OfCourse"><em>git repo</em></a></span> or <span style="text-decoration: underline;"><a href="https://penn-ofcourse.herokuapp.com"><em>click here</em></a></span> to see the finished product.</p>
      </div>

      <div class="col-md-4 text-center center-block">
        <h2>Block Head Exchange</h2>
        <a href="http://www.blockheadexchange.com">
          <img src="{{ url_for('static', filename='images/investor_screenshot_1.png') }}" alt="BlockHead Investment Engine">
        </a>
        <p>Block Head Exchange, the cyrptocurrency advisor page, is officially live! Check out the investment engine I built there.</p>
      </div>

      <div class="col-md-4 text-center center-block">
        <h2>Project 3</h2>
        <img src="{{ url_for('static', filename='images/construction.jpeg') }}" alt="">
        <p style="font-size:20px; font-eight:bold;">I'm working on new projects all the time. Check back soon!</p>
      </div>

    </div><!-- row -->
    <br/>
    <br/>
    <a href="/projects"><button type="button" class="btn btn-lg">All My Projects</button></a>
  </div> <!-- container-fluid -->

  <!-- My latest blog posts -->
  <div class="container-fluid latest-blogs" style="padding: 50px;">
    <a href="/blog"><h1>My Latest Blog Post</h1></a>
    <div class="container text-center center-block">
      <img src="{{ url_for('static', filename='images/construction.jpeg') }}" alt="">
      <p style="font-size:20px; font-eight:bold;">My blog will be up and running in no time. Check back soon!</p>
    </div>
  </div> <!-- container-fluid -->

  {% endblock %}

