{% extends "layout.html" %}


  {% block content %}

  <!-- BACKGROUND OF NAVIGATION BAR -->
  <image id="background" style="filter: brightness(80%);"
     src="{{ url_for('static', filename='images/projects.jpg') }}" alt="Placeholder photo">


  <div style="padding-bottom: 3cm;"></div>

  <!-- TITLE TEXT -->
  <section class="container-fluid" id="title">
    <div class="row jumbotron container-fluid text-center">
      <h3><em>Here's what I've been up to lately</em></h3>
      <h1><strong>Projects and Collaborations</strong></h1>
    </div><!-- jumbotron -->
  </section><!-- title-section -->

  <div style="padding-bottom: 3cm;"></div>


  <!-- RESUME -->
  <div class="container-fluid page-description">
    <h1>Coming Soon</h1>
    <h2>The best is yet to come. Check back here soon!</h2>
    <div class="container">
      <img src="{{ url_for('static', filename='images/construction.jpeg') }}" alt="Coming soon" style="border-radius: 0%; width: 80%px; height: auto;">
    </div>
  </div> <!-- container-fluid -->

  {% endblock %}

